html {
    background-color: #fafafd;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.button.is-primary:hover {
    background-color: #a1cee9;
    color: #000;
}

.notification.is-info.has-text-dark a {
    color: #34495e; /* Dark color for links */
}

a.navbar-item:hover {
    color: #adbfd2;
}

/* I'm not sure if we need this customisation - I can't test on local */

/* .tabs li.is-active a {
    color: hsl(171, 100%, 41%);
    border-bottom-color: hsl(171, 100%, 41%);
} */

tt {
    background-color: #eeeeee;
}

.main-section {
    flex: 1;
}

.main-section.hidden {
    display: none !important;
}

.main-section p {
    margin-bottom: 30px;
}

.drag-drop-file {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);

    background-color: #dddde0;
    width: 40vw;
    height: 150px;
    border: dashed 5px #333333;
    border-radius: 20px;

    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
}

.drag-drop-file span {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.drag-drop-file #noloaded {
        color: #888888;
}

.drag-drop-file #loaded {
}

.drag-drop-file.ddrop-small {
    width: auto;
    height: auto;
    padding: 10px;

    border-width: 3px;

    font-size: 1.2em;
}

.search-form {
    margin: 0;
}

.plus-button {
    margin: 5pt 0 0pt 0;
}

.width-1 {
    width: 200px;
}

.width-2 {
    width: 500px;
}

.width-3 {
    width: 900px;
}

.hseparator {
    margin-left: 25px;
}

.separator-p5 {
    display: block;
    margin-bottom: 10px;
}

.separator-1 {
    display: block;
    margin-bottom: 20px;
}

.separator-2 {
    display: block;
    margin-bottom: 50px;
}

.separator-3 {
    display: block;
    margin-bottom: 100px;
}

.is-fixed {
    table-layout: fixed;
}

.is-relative {
    position: relative;
}

.is-scroll-y {
    position: relative;
    overflow-y: scroll;
    max-height: 87vh;
}

.database-record {
    display: block;
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.orcid-green {
    color: #a6ce39;
}

.rotate-endless {
    -webkit-animation:spin 2s steps(8, end) infinite;
    -moz-animation:spin 2s steps(8, end) infinite;
    animation:spin 2s steps(8, end) infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#ccpnc-logo {
    padding: 0 30px 0 30px;
}

#upload-form tr td {
    vertical-align: middle;
}

ul.discs {
    list-style-position: inside;
    padding: 1.1em 0;
}

ul.discs li {
    list-style-type: disc;
}

.expandable {
    position: relative;
    max-height: 30px;
    overflow-y: hidden;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
    background-color: rgb(230, 230, 230);
}

.expandable::after {
    position: absolute;
    padding-top: 10px;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-weight: bold;
    content: '▼ Click to expand ▼';
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255 ,255,1) 100%);
    opacity: 1;
    transition: opacity 0.5s;
}

.expandable.expanded {
    max-height: 1000px;
    transition: max-height 1s ease-in-out;
}

.expandable.expanded::after {
    content: '▲ Click to collapse ▲';
    background:  rgba(255, 255, 255, 0);
    opacity: 1;
    transition: opacity 0.5s;
}

.edit-modal-card {
    width: 70vw !important;
}

p.faq {
    padding-bottom: 2em;
}

p.faq span {
    display: block;
}

/* A checkbox emulating the style of Bulma text boxes */
/* .large-checkbox { 
    width: 2.5em;
    padding: 10%;
} */
 .checkbox-table-container {
    display: flex;
    align-items: center;
 }

 .checkbox-top {
    align-self: flex-start;
}

 .table {
    flex-grow: 1;
 }

.large-checkbox { 
    padding: 0.75%;
    appearance: none; /* Remove default checkbox styling */
    border: 2px solid #000; /* Add border to make it visible */
    border-radius: 4px; /* Optional: rounded corners */
    display: inline-block; /* Ensure it behaves like a checkbox */
    position: relative; /* For positioning the checkmark */
}

.large-checkbox:checked::after {
    content: ' ';
    position: absolute; /* Position relative to the checkbox */
    top: 10%; /* Adjust to center the checkmark */
    left: 10%; /* Adjust to center the checkmark */
    height: 80%; /* Adjust size of the checkmark */
    width: 80%; /* Adjust size of the checkmark */
    border-radius: 4px;
    background-color: #00b89c;
}

/* .large-checkbox:checked::after {
    content: ' ';
    margin: 0;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    background-color: #00b89c;
} */

/* A slider toggle switch */
.switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 34px;
  }
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2EC4B6;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
input:checked + .slider {
    background-color: #FF4000;
  }
  
input:focus + .slider {
    box-shadow: 0 0 1px #FF4000;
  }
  
input:checked + .slider:before {
    -webkit-transform: translateX(66px);
    -ms-transform: translateX(66px);
    transform: translateX(66px);
  }

.on
  {
    display: none;
  }
  
.on, .off
  {
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 18px;
    font-family: Verdana, sans-serif;
  }
  
input:checked+ .slider .on
  {display: block;}
  
input:checked + .slider .off
  {display: none;}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
  }
  
.slider.round:before {
    border-radius: 50%;
  }

.content {
    border-left: 0; /* Adjust the border width and color as needed */
    border-right: 0; /* Adjust the border width and color as needed */
    padding-left: 20px; /* Add some padding to the left */
    padding-right: 20px; /* Add some padding to the right */
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px; /* Adjust the max-width as needed */
}