html {
    background-color: #fafafd;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main-section {
    flex: 1;
}

.main-section.hidden {
    display: none !important;
}

.main-section p {
    margin-bottom: 30px;
}

.drag-drop-file {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);

    background-color: #dddde0;
    width: 40vw;
    height: 150px;
    border: dashed 5px #333333;
    border-radius: 20px;

    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
}

.drag-drop-file span {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    color: #888888;
}

.width-1 {
    width: 200px;
}

.width-2 {
    width: 500px;
}

.width-3 {
    width: 900px;
}

.separator-1 {
    display: block;
    margin-bottom: 20px;
}

.separator-2 {
    display: block;
    margin-bottom: 50px;
}

.separator-3 {
    display: block;
    margin-bottom: 100px;
}

.text-bold {
    font-weight: bold;
}

.database-record {
    display: block;
    padding: 10px;
    background-color: #ffffff;
    margin-bottom: 5px;
    border: solid 1px #898989;
}

#ccpnc-logo {
    padding: 0 30px 0 30px;
}

#upload-form tr td {
    vertical-align: middle;
}
