<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CCPNC database</title>

    <link rel="stylesheet" href="css/bulma.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="academicons/css/academicons.min.css"/>
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="css/loader.css">
    <link rel="stylesheet" href="css/capsule.min.css">

    <script src="vendor/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="vendor/jquery.form-4.2.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="vendor/angular.min.js"></script>
    <script src="vendor/capsule.min.js"></script>
    <script src="vendor/ng-file-upload-all.min.js"></script>

    <script src="js/config.js"></script>
    <script src="js/edit.js"></script>
    <script src="js/record.js"></script>
    <script src="js/login.js"></script>
    <script src="js/search.js"></script>
    <script src="js/upload.js"></script>
    <script src="js/cookielaw.js"></script>
    <script src="js/yourfiles.js"></script>
    <script src="js/magres-validate.js"></script>
    <script src="js/navigate.js"></script>

    <script src="js/main.js" async defer></script>

</head>
<body ng-controller="NavigateController">

<div ng-controller="CookieLawController">
    <div class="notification is-primary is-borderless" ng-show="!approved" ng-cloak>
        <button class="delete" ng-click="approve()"></button>
            <p>This site uses cookies in order to store and keep track of your login information. If you keep using this site,
            we will assume you accept this as a necessary part of the service. <a href='/cookies'>Learn More</a> </p>
    </div>
</div>

<nav class="navbar">
    <div class="navbar-brand">
        <a class="nabvar-item has-text-centered">
            <span id="ccpnc-logo" class="is-size-1">CCP-NC</span>
        </a>
        <div class="navbar-burger burger is-size-2" ng-click="show_menu_mobile();" data-target="#navBarCCPNC">
          <span></span>
          <span></span>
          <span></span>
        </div>
    </div>

    <div id="navBarCCPNC" class="navbar-menu is-size-5" ng-class="(menu_display? 'is-active' : '')">
        <div class="navbar-start">
            <a class="navbar-item" ng-click="open_tab='home';">
                Home
                &nbsp;
                <i class="fa fa-home" aria-hidden="true"></i>
            </a>
            <a class="navbar-item" ng-click="open_tab='search';">
                Search
                &nbsp;
                <i class="fa fa-search" aria-hidden="true"></i>
            </a>
            <a class="navbar-item" ng-click="open_tab='upload';" ng-show="loginStatus.get_login_status()" ng-cloak>
                Upload
                &nbsp;
                <i class="fa fa-upload" aria-hidden="true"></i>
            </a>
            <a class="navbar-item" ng-click="open_tab='yourfiles';" ng-show="loginStatus.get_login_status()" ng-cloak>
                Your files
                &nbsp;
                <i class="fa fa-file-text" aria-hidden="true"></i>
            </a>
        </div>

        <!-- Here the important Login logic happens! A dedicated Angular controller -->        
        <div class="navbar-end" ng-controller="LoginController" ng-cloak>
            <div class="navbar-item is-size-6" ng-if="logged_in">
                Logged in as&nbsp;
                <i class="ai ai-orcid orcid-green is-size-4" aria-hidden="true"></i>&nbsp;
                <a href="https://orcid.org/{{orcid}}" class="has-text-primary" target="_blank">
                    orcid.org/{{orcid}}
                </a>
            </div>
            <a class="navbar-item" ng-if="!logged_in" ng-click="login()">
                Login
                &nbsp;
                <i class="ai ai-orcid orcid-green is-size-4" aria-hidden="true"></i>
            </a>
            <a class="navbar-item" ng-if="logged_in" ng-click="logout()">
                Logout
                &nbsp;
                <i class="fa fa-sign-out" aria-hidden="true"></i>
            </a>

            <!-- Welcome message (as required by ORCID standards) -->
            <div class="modal {{just_logged_in? 'is-active' : ''}}">
              <div class="modal-background"></div>
              <div class="modal-content">
                <div class="box has-text-centered">
                    <p>
                        Success! You are now logged in with ORCID
                        <span class="orcid-green">{{orcid}}</span>
                        and name {{just_logged_in}}.
                    </p>
                    <br>
                    <a class="button is-primary" ng-click="confirm()">Ok</a>
                </div>
              </div>
            </div>  

        </div>
    </div>

</nav>

<div class="main-section" ng-switch="open_tab">
    <div id="div-home" class="section" ng-switch-default  ng-cloak>
        <div class="container">
            <p>
                This is a prototype for the CCP-NC database of NMR data.
            </p>

            <p>
                <b>Login</b> using your ORCID account. Login should be persistent, but may be canceled after extended periods of time,
                in which case, logging out and then back in will be necessary.
            </p>

            <p>
                Use <b>Search</b> to search the database for existing entries based on various search criteria. More criteria will be
                added based on user feedback. Any entries found this way can be downloaded with the <b>Download</b> button.
            </p>

            <p>
                Use <b>Upload</b> to upload your own files, including metadata. Once uploaded, entries can not be deleted without admin assistance.
            </p>

            <p>
                In <b>Your Files</b>, which appears only if logged in, you can see the entries you uploaded. For each of them multiple versions, corresponding to different files and metadata, can exist. New versions can be uploaded by clicking the <b>Edit</b> button. They will be recorded with a timestamp and will become the new default.
            </p>

            <p>
                <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-nd/4.0/88x31.png" /></a><br>
                All files found on this database are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/">Creative Commons Attribution-NoDerivatives 4.0 International License</a>. This means they can be freely downloaded and used even for commercial purposes, but if shared they can <i>not</i> be modified or altered in any way. This is to guarantee the integrity of the data as it was originally uploaded. It is possible to use the data as starting point for use in other work as long as it is made clear that such results are distinct from it and not the responsibility of the author of the original data.
            </p>

        </div>
    </div>

    <div id="div-search" class="section" ng-switch-when="search" ng-controller="SearchController" ng-cloak>

        <div class="container has-text-centered">

            <div class="box">
                <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-nd/4.0/88x31.png" /></a><br>
                All files found on this database are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/">Creative Commons Attribution-NoDerivatives 4.0 International License</a>. This means they can be freely downloaded and used even for commercial purposes, but if shared they can <i>not</i> be modified or altered in any way. This is to guarantee the integrity of the data as it was originally uploaded. It is possible to use the data as starting point for use in other work as long as it is made clear that such results are distinct from it and not the responsibility of the author of the original data.
            </div>

            <div class="notification" ng-repeat="search_spec in search_specs">

                <button class="delete" ng-click="remove_spec($index)"></button>

                <table class="table is-fullwidth is-bordered is-striped is-fixed search-form">
                    <tr>
                        <td class="width-1" colspan="1" rowspan="" headers="">
                            Search type
                        </td>
                        <td class="width-3" colspan="3" rowspan="" headers="">
                            <select class="cc-ctrl cc-bulma" ng-model="search_spec.type" ng-change="reset_search_args(search_spec.type)">
                                <option value="doi">doi</option>
                                <option value="msRange">Shielding</option>
                                <option value="cname">Chemical name</option>
                                <option value="formula">Chemical formula</option>
                                <option value="molecule">Molecular formula</option>
                                <option value="csdcode">CSD Refcode</option>
                                <option value="csdnum">CSD Number</option>
                            </select>
                        </td>
                    </tr>
                    <tbody ng-if="search_spec.type == 'doi'">
                        <tr>
                            <td colspan="1" rowspan="" headers="">
                                doi
                            </td>
                            <td colspan="3" rowspan="" headers="">
                                <input class="cc-ctrl cc-bulma" type="text" placeholder="doi" ng-model="search_spec.args.doi">
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-if="search_spec.type == 'msRange'">
                        <tr>
                            <td colspan="1" rowspan="" headers="">
                                Species
                            </td>
                            <td colspan="3" rowspan="" headers="">
                                <input class="cc-ctrl cc-bulma" type="text" placeholder="Element symbol" ng-model="search_spec.args.sp">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" rowspan="" headers="">
                                Min. MS value
                            </td>
                            <td colspan="1" rowspan="" headers="">
                                <input class="cc-ctrl cc-bulma" type="text" placeholder="Minimum shielding (ppm)" ng-model="search_spec.args.minms">
                            </td>
                            <td colspan="1" rowspan="" headers="">
                                Max. MS value
                            </td>
                            <td colspan="1" rowspan="" headers="">
                                <input class="cc-ctrl cc-bulma" type="text" placeholder="Maximum shielding (ppm)" ng-model="search_spec.args.maxms">
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-if="search_spec.type == 'cname'">
                        <tr>
                            <td colspan="1" rowspan="" headers="">
                                Search pattern
                            </td>
                            <td colspan="3" rowspan="" headers="">
                                <input class="cc-ctrl cc-bulma" type="text" size="50" placeholder="Pattern (* and ? wildcards allowed)" ng-model="search_spec.args.pattern">
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-if="search_spec.type == 'formula'">
                        <tr>
                            <td colspan="1" rowspan="" headers="">
                                Chemical formula
                            </td>
                            <td colspan="3" rowspan="" headers="">
                                <input class="cc-ctrl cc-bulma" type="text" placeholder="Chemical formula" ng-model="search_spec.args.formula">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" rowspan="" headers="">
                                Include systems with additional elements
                            </td>
                            <td colspan="3" rowspan="" headers="">
                                <input id="formula-subset-check-$index" class="cc-ctrl cc-bulma" type="checkbox"
                                       ng-model="search_spec.args.subset" ng-init="search_spec.args.subset = false;">
                            </td>
                        </tr>
                    </tbody>                    
                    <tbody ng-if="search_spec.type == 'molecule'">
                        <tr>
                            <td colspan="1" rowspan="" headers="">
                                Molecular formula
                            </td>
                            <td colspan="3" rowspan="" headers="">
                                <input class="cc-ctrl cc-bulma" type="text" placeholder="Molecular formula" ng-model="search_spec.args.formula">
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-if="search_spec.type == 'csdcode'">
                        <tr>
                            <td colspan="1" rowspan="" headers="">
                                CSD Refcode
                            </td>
                            <td colspan="3" rowspan="" headers="">
                                <input class="cc-ctrl cc-bulma" type="text" size="10" placeholder="ABCDEF01" ng-model="search_spec.args.csdref">
                            </td>
                        </tr>
                    </tbody>                    
                    <tbody ng-if="search_spec.type == 'csdnum'">
                        <tr>
                            <td colspan="1" rowspan="" headers="">
                                CSD Number
                            </td>
                            <td colspan="3" rowspan="" headers="">
                                <input class="cc-ctrl cc-bulma" type="text" size="10" placeholder="0123456" ng-model="search_spec.args.csdnum">
                            </td>
                        </tr>
                    </tbody>
                    </table>

                <div class="plus-button" ng-show="$index == search_specs.length-1">
                    <button class="button is-primary is-small" ng-click="add_spec()">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </div>
            </div>

            <div class="notification is-warning" ng-show="message != ''">
                {{message}}
            </div>

            <a class="button is-primary is-medium" ng-click="search()">
                Search
            </a>


        </div>


        <span class="separator-2"></span>

        <div class="container is-scroll-y">        
            <div database-record="result" ng-repeat="result in search_results">
            </div>
        </div>
    </div>

    <div id="div-upload" class="section" ng-switch-when="upload" ng-controller="UploadController" ng-cloak>
        
        <!-- I think this is not necessary any more...        
            <div edit-form="_edit_form">
            </div>
        -->


        <div class="container has-text-centered">

            <div class="tabs">
              <ul>
                <li ng-class="upload_multi? '' : 'is-active'"><a class="tab-link" ng-click="upload_multi=false">Single file</a></li>
                <li ng-class="upload_multi? 'is-active' : ''"><a class="tab-link" ng-click="upload_multi=true">Archive</a></li>
              </ul>
            </div>

            <div ng-show="upload_multi" ng-cloak>
                <p>
                    You can use this form to upload a <tt>.zip</tt>, <tt>.tar</tt> or <tt>.tar.gz</tt> archive containing multiple <tt>.magres</tt> files in one go. The files will be added as separate entries to the database, so please use this just to upload in group lots of different structures, not lots of versions of the same structure. The files need to be either at the top level of the archive or inside a single folder.
                </p>
                <p>
                   The data in the form below will be used as the default for all the given structures. However, if you want to have custom values for some or all files in your archive, you should download <a href="csvtemplate" download="info.csv">this CSV file</a> and fill in its various fields for the structures you care about, then put it in the archive at the same level as the <tt>.magres</tt> files.
                </p>
                <span class="separator-1"></span>
            </div>

            <form id="upload-form" enctype="multipart/form-data" action="/upload" method="post">
                <div class="table-container" >
                        <table class="table is-fullwidth">
                            <thead>
                                <tr>
                                    <th colspan="" rowspan="" headers="">
                                        Chemical name<sup class="has-text-danger">*</sup>
                                    </th>
                                    <td colspan="" rowspan="" headers="">
                                        <input id="chemname" class="cc-ctrl cc-bulma" type="text" size="80" name="chemname"
                                        placeholder="Name identifying the compound (e.g.: alanine, sodium chloride, FCC iron)"
                                        required>
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="" rowspan="" headers="">
                                        Form
                                    </th>
                                    <td colspan="" rowspan="" headers="">
                                        <input id="chemform" class="cc-ctrl cc-bulma" type="text" size="80" name="chemform" 
                                        placeholder="Additional relevant descriptors (e.g.: phase, conformer, etc.)">
                                    </td>                            
                                </tr>
                            </thead>
                            <tbody edit-table="_edit_table">
                            </tbody>
                        </table>
                </div>
                Fields marked with <sup class="has-text-danger">*</sup> are obligatory.
                <span class="separator-2"></span>
                
                <div class="file has-name is-boxed is-primary is-medium is-centered">
                    <label class="file-label">
                        <input class="file-input" type="file" id="magres-file" name="magres-file" ngf-select="load_files($files)" required>
                        <span class="file-cta">
                            <span class="file-icon">
                                <span ng-show="!uploading_now">
                                    <i class="fa fa-upload"></i>
                                </span>
                                <span ng-show="uploading_now">
                                    <div class="loader">Loading...</div>
                                </span>
                            </span>
                            <span class="file-label">
                                <span ng-show="!uploading_now">
                                    Choose a file...
                                </span>
                                <span ng-show="uploading_now">
                                    Uploading...
                                </span>
                            </span>
                        </span>
                        <span class="file-name" ng-show="magres_file_name">
                            {{magres_file_name}}
                        </span>
                    </label>
                </div>
                <span class="separator-1"></span>
                <span class="box" ng-show="status !== ''" ng-class="{
                    'has-text-danger': status_err,
                    'has-text-success': !status_err,
                }">
                    {{ status }}
                </span>
                <span class="separator-1"></span>
                <a class="button is-primary is-large" ng-click="upload()">Upload</a>
                <span class="separator-1"></span>
                <div class="box">
                    <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-nd/4.0/88x31.png" /></a><br />By uploading your files you consent to them being licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/">Creative Commons Attribution-NoDerivatives 4.0 International License</a>.
                </div>
            </form>
        </div>        
    </div>

    <div id="div-yourfiles" class="section is-relative" ng-switch-when="yourfiles" ng-controller="FileListerController" ng-cloak>
        <div class="container">
            <div class="notification is-danger" ng-show="message != ''">
                {{ message }}
            </div>
        </div>
        <div class="container is-scroll-y">
            <div database-record="result" ng-repeat="result in search_results">
            </div>
        </div>

        <!-- Use for edits -->
        <div class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <!-- Any other Bulma elements you want -->
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
        </div>
    </div>
</div>

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        The <strong>CCP-NC database</strong> is funded by EPSRC and supported by STFC.
      </p>
       <p>
        Code written by
        Simone Sturniolo and Albert Bartok-Partay.
        <br>
        The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
        <br>
        Uses the <a href="https://orcid.org" target="_blank">
            <i class="ai ai-orcid orcid-green is-size-4" aria-hidden="true"></i> ORCID
        </a>
        Public API v2.0 for authentication.
        <br>
        For more information about cookies and data retention, see our <a href="/cookies">Privacy Policy</a>.
        <br>
        For any feedback or questions, <a href="https://www.ccpnc.ac.uk/contact-us">contact us.</a>
      </p>
    </div>
  </div>  
</footer>
</body>
</html>
