<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CCPNC database</title>

    <link rel="stylesheet" href="css/bulma.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="academicons/css/academicons.min.css" />
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="css/loader.css">

    <script src="vendor/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="vendor/jquery.form-4.2.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="vendor/angular.min.js"></script>
    <script src="vendor/ng-file-upload-all.min.js"></script>

    <script src="js/config.js"></script>
    <script src="js/edit.js"></script>
    <script src="js/tables.js"></script>
    <script src="js/doiauthors.js"></script>
    <script src="js/record.js"></script>
    <script src="js/login.js"></script>
    <script src="js/search.js"></script>
    <script src="js/searchresults.js"></script>
    <script src="js/selectionservice.js"></script>
    <script src="js/singleselectionservice.js"></script>
    <script src="js/mail.js"></script>
    <script src="js/upload.js"></script>
    <script src="js/cookielaw.js"></script>
    <script src="js/yourfiles.js"></script>
    <script src="js/magres-validate.js"></script>
    <script src="js/navigate.js"></script>
    <script src="js/recordpage.js"></script>

    <script src="js/main.js" async defer></script>

    <link rel="icon" 
          type="image/png" 
          href="favicon.png">

</head>

<body ng-controller="NavigateController">

    <div ng-controller="CookieLawController">
        <div class="notification is-info is-borderless has-text-dark" ng-show="!approved" ng-cloak>
            <button class="delete" ng-click="approve()"></button>
            <p>This site uses cookies in order to store and keep track of your login information. If you keep using this
                site,
                we will assume you accept this as a necessary part of the service. <a href='cookies'>Learn More</a>
            </p>
        </div>
    </div>

    <div ng-if="!(recordref)">
        <nav class="navbar">
            <div class="navbar-brand">
                <a class="nabvar-item has-text-centered has-text-info" href="https://www.ccpnc.ac.uk">
                    <span id="ccpnc-logo" class="is-size-1">CCP-NC</span>
                </a>
                <div class="navbar-burger burger is-size-2" ng-click="show_menu_mobile();" data-target="#navBarCCPNC">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            <div id="navBarCCPNC" class="navbar-menu is-size-5" ng-class="(menu_display? 'is-active' : '')">
                <div class="navbar-start">
                    <a class="navbar-item" ng-click="open_tab='home';">
                        Home
                        &nbsp;
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </a>
                    <a class="navbar-item" ng-click="open_tab='search';">
                        Search
                        &nbsp;
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </a>
                    <a class="navbar-item" ng-click="open_tab='upload';" ng-show="loginStatus.get_login_status()" ng-cloak>
                        Upload
                        &nbsp;
                        <i class="fa fa-upload" aria-hidden="true"></i>
                    </a>
                    <a class="navbar-item" ng-click="open_tab='yourfiles';" ng-show="loginStatus.get_login_status()"
                        ng-cloak>
                        Your files
                        &nbsp;
                        <i class="fa fa-file-text" aria-hidden="true"></i>
                    </a>
<!--                
                    *This used to be its own tab, but now redirects to a contact form on the CCP-NC website*
 -->
                    <a class="navbar-item contact-link" href="https://www.ccpnc.ac.uk/contact-us" target="_blank">
                        Contact us
                        &nbsp;
                        <i class="fa fa-file-text" aria-hidden="true"></i>
                    </a>
                </div>

                <!-- Here the important Login logic happens! A dedicated Angular controller -->
                <div class="navbar-end" ng-controller="LoginController" ng-cloak>
                    <div class="navbar-item is-size-6" ng-if="logged_in">
                        Logged in as&nbsp;
                        <i class="ai ai-orcid orcid-green is-size-4" aria-hidden="true"></i>&nbsp;
                        <a href="https://orcid.org/{{orcid}}" class="has-text-primary" target="_blank">
                            orcid.org/{{orcid}}
                        </a>
                    </div>
                    <a class="navbar-item" ng-if="!logged_in" ng-click="login()">
                        Login
                        &nbsp;
                        <i class="ai ai-orcid orcid-green is-size-4" aria-hidden="true"></i>
                    </a>
                    <a class="navbar-item" ng-if="logged_in" ng-click="logout()">
                        Logout
                        &nbsp;
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </a>

                    <!-- Welcome message (as required by ORCID standards) -->
                    <div class="modal {{just_logged_in? 'is-active' : ''}}">
                        <div class="modal-background"></div>
                        <div class="modal-content">
                            <div class="box has-text-centered">
                                <p>
                                    Success! You are now logged in with ORCID
                                    <span class="orcid-green">{{orcid}}</span>
                                    and name {{just_logged_in}}.
                                </p>
                                <br>
                                <a class="button is-primary" ng-click="confirm()">Ok</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </nav>

        <div class="main-section" ng-switch="open_tab">
            <div id="div-home" class="section" ng-switch-default ng-cloak>
                <div class="content">
                    <p class="title is-4">
                        Welcome to the CCP-NC Magres Database
                    </p>
                    <p>
                        The Magres database is a repository of first-principle computational results for solid-state NMR Crystallography, stored in the <a href="https://www.ccpnc.ac.uk/docs/magres/magres-format.pdf">magres</a> format. This resource provides a central platform for researchers to share, explore, and utilise data associated with calculations of NMR parameters in solid-state structures.
                    </p>
                    <div style="margin-bottom: 20px;"></div>
                    <p class="subtitle is-5">
                        What is the Magres Format?
                    </p>
                    <div style="margin-bottom: 5px;"></div>
                    <p>
                        The <a href="https://www.ccpnc.ac.uk/docs/magres/magres-format.pdf">magres format</a> is a text-based file format developed within CCP-NC to archive the results of ab initio calculations of NMR parameters. It serves as a comprehensive, self-sufficient, archival format, ensuring that all relevant computational details are preserved for future reference. Supported by major computational codes such as <a href="https://www.castep.org/">CASTEP</a> and <a href="https://www.quantum-espresso.org/">Quantum ESPRESSO</a>, the magres format enables seamless data sharing and processing within the NMR Crystallography community.
                    </p>

                    <p class="subtitle is-5">
                        Who Can Contribute?
                    </p>
                    <p>
                        Contributions to the database are encouraged from:
                        <ul>
                            <li>NMR spectroscopists,</li>
                            <li>Crystallographers,</li>
                            <li>Materials scientists,</li>
                            <li>Computational modelers.</li>
                        </ul> 
                        Deposits require an ORCID ID and must be in the magres format.
                    </p>
        
                    <p class="subtitle is-5">
                        Supported Tools and Software
                    </p>
                    <ul>
                        <li>
                            <a href="https://www.castep.org/">CASTEP</a> and <a href="https://www.quantum-espresso.org/">Quantum ESPRESSO</a> for generating magres files
                        </li>
                        <li>
                            <a href="https://ccp-nc.github.io/magresview-2/">MagresView</a> and <a href="https://ccp-nc.github.io/soprano/intro.html">Soprano</a> for visualising and processing magres data
                        </li>
                    </ul>

                    <!-- <p>
                        This is the prototype interface for the CCP-NC database of calculated NMR data.
                    </p> -->

                    <p>
                        For more information and help on how to use the website, <a href="faqs.html">visit our FAQs page.</a>
                    </p>

                    <!--
                    <p>
                        <b>Login</b> using your ORCID account. Login should be persistent, but may be canceled after
                        extended periods of time,
                        in which case, logging out and then back in will be necessary.
                    </p>

                    <p>
                        Use <b>Search</b> to search the database for existing entries based on various search criteria. More
                        criteria will be
                        added based on user feedback. Any entries found this way can be downloaded with the <b>Download</b>
                        button.
                    </p>

                    <p>
                        Use <b>Upload</b> to upload your own files, including metadata. Once uploaded, entries can not be
                        deleted without admin assistance.
                    </p>

                    <p>
                        In <b>Your Files</b>, which appears only if logged in, you can see the entries you uploaded. For
                        each of them multiple versions, corresponding to different files and metadata, can exist. New
                        versions can be uploaded by clicking the <b>Edit</b> button. They will be recorded with a timestamp
                        and will become the new default.
                    </p>
                -->

    <!--                 <p>
                        The CCP-NC database and its contents are made available under the Public Domain Dedication and
                        License v1.0
                        whose full text can be found at: <a
                            href="http://www.opendatacommons.org/licenses/pddl/1.0/">http://www.opendatacommons.org/licenses/pddl/1.0/</a>.
                    </p>
     -->
                </div>
            </div>

            <div id="div-search" class="section" ng-switch-when="search" ng-controller="SearchController" ng-cloak>

                <div class="container has-text-centered">

                    <div class="notification" ng-repeat="search_spec in search_specs">

                        <button class="delete" ng-click="remove_spec($index)"></button>

                        <table class="table is-fullwidth is-bordered is-fixed search-form">
                            <tr>
                                <td class="width-1" colspan="1" rowspan="" headers="" style="vertical-align: middle;">
                                    Search type
                                </td>
                                <td class="width-3" colspan="3" rowspan="" headers="">
                                    <div class="control is-pulled-right">
                                        <div class="select">
                                            <!-- Present long menu for search if 'negate_query' value in search_spec in false -->
                                            <!-- 'negate_query' value is set to false when form loads first time, false can be set by toggle switch for AND search condition -->
                                            <select ng-model="search_spec.type"
                                                ng-change="reset_search_args(search_spec.type)" ng-show="!search_spec.negate_query" ng-init="search_spec.negate_query = false">
                                                <option value="doi">doi</option>
                                                <option value="msRange">Magnetic Shielding</option>
                                                <option value="efgRange">Electric Field Gradient V<sub>zz</sub></option>
                                                <option value="chemname">Chemical name</option>
                                                <option value="chemform">Form</option>
                                                <option value="formula">Unit cell formula</option>
                                                <option value="molecule">Molecular formula</option>
                                                <option value="mdbref">MRD reference number</option>
                                                <option value="extref">External database reference</option>
                                                <option value="license">License</option>
                                            </select>
                                            <!-- Present restricted menu for search if 'negate_query' value in search_spec in true -->
                                            <!-- 'negate_query' value is set to true by toggle switch for NOT search condition -->
                                            <select ng-model="search_spec.type"
                                                ng-change="reset_search_args(search_spec.type)" ng-show="search_spec.negate_query">
                                                <option value="doi">doi</option>
                                                <option value="msRange">Magnetic Shielding</option>
                                                <option value="efgRange">Electric Field Gradient V<sub>zz</sub></option>
                                                <option value="extref">External database reference</option>
                                                <option value="license">License</option>
                                            </select>
                                            
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tbody ng-if="search_spec.type == 'doi'">
                                <tr>
                                    <td colspan="1" rowspan="" headers="" style="vertical-align: middle;">
                                        doi
                                    </td>
                                    <td colspan="3" rowspan="" headers="">
                                        <div class="control">
                                            <input class="input" type="text" placeholder="doi"
                                                ng-model="search_spec.args.doi" ng-init="search_spec.args.doi = null">                        
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody ng-if="search_spec.type == 'msRange'">
                                <tr>
                                    <td colspan="1" rowspan="" headers="" style="vertical-align: middle;">
                                        Species
                                    </td>
                                    <td colspan="3" rowspan="" headers="">
                                        <div class="control">
                                            <input class="input" type="text" placeholder="Element symbol"
                                                ng-model="search_spec.args.sp" ng-init="search_spec.args.sp = null">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="1" rowspan="" headers="" style="vertical-align: middle;">
                                        Min. MS value
                                    </td>
                                    <td colspan="1" rowspan="" headers="">
                                        <div class="control">                                        
                                            <input class="input" type="text" placeholder="Minimum shielding (ppm)"
                                                ng-model="search_spec.args.minms" ng-init="search_spec.args.minms = 0">
                                        </div>
                                    </td>
                                    <td colspan="1" rowspan="" headers="" style="vertical-align: middle;">
                                        Max. MS value
                                    </td>
                                    <td colspan="1" rowspan="" headers="">
                                        <div class="control">                                        
                                            <input class="input" type="text" placeholder="Maximum shielding (ppm)"
                                                ng-model="search_spec.args.maxms" ng-init="search_spec.args.maxms = 0">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody ng-if="search_spec.type == 'efgRange'">
                                <tr>
                                    <td colspan="1" rowspan="" headers="" style="vertical-align: middle;">
                                        Species
                                    </td>
                                    <td colspan="3" rowspan="" headers="">
                                        <div class="control">
                                            <input class="input" type="text" placeholder="Element symbol"
                                                ng-model="search_spec.args.sp" ng-init="search_spec.args.sp = null">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="1" rowspan="" headers="" style="vertical-align: middle;">
                                        Min. EFG V<sub>zz</sub> value
                                    </td>
                                    <td colspan="1" rowspan="" headers="">
                                        <div class="control">
                                            <input class="input" type="text" placeholder="Minimum EFG Vzz value (au)"
                                                ng-model="search_spec.args.minefg" ng-init="search_spec.args.minefg = 0">                          
                                        </div>
                                    </td>
                                    <td colspan="1" rowspan="" headers="" style="vertical-align: middle;">
                                        Max. EFG V<sub>zz</sub> value
                                    </td>
                                    <td colspan="1" rowspan="" headers="">
                                        <div class="control">
                                            <input class="input" type="text" placeholder="Maximum EFG Vzz value (au)"
                                                ng-model="search_spec.args.maxefg" ng-init="search_spec.args.maxefg = 0">                               
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody ng-if="search_spec.type == 'chemname'">
                                <tr>
                                    <td colspan="1" rowspan="" headers="" style="vertical-align: middle;">
                                        Search pattern
                                    </td>
                                    <td colspan="3" rowspan="" headers="">
                                        <div class="control">
                                            <input class="input" type="text" size="90"
                                                placeholder="Pattern (for perfect matches use strings in double quotes, which can use * as wildcard)"
                                                ng-model="search_spec.args.pattern"
                                                ng-init="search_spec.args.pattern = null">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody ng-if="search_spec.type == 'chemform'">
                                <tr>
                                    <td colspan="1" rowspan="" headers="" style="vertical-align: middle;">
                                        Search pattern
                                    </td>
                                    <td colspan="3" rowspan="" headers="">
                                        <div class="control">
                                            <input class="input" type="text" size="50"
                                                placeholder="Pattern (* and ? wildcards allowed)"
                                                ng-model="search_spec.args.pattern"
                                                ng-init="search_spec.args.pattern = null">                                            
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody ng-if="search_spec.type == 'formula'">
                                <tr>
                                    <td colspan="1" rowspan="" headers="" style="vertical-align: middle;">
                                        Unit cell formula
                                    </td>
                                    <td colspan="3" rowspan="" headers="">
                                        <div class="control">
                                            <input class="input" type="text" placeholder="Unit cell formula"
                                                ng-model="search_spec.args.formula"
                                                ng-init="search_spec.args.formula = null">                                            
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="1" rowspan="" headers="" style="vertical-align: middle;">
                                        Include systems with additional elements
                                    </td>
                                    <td colspan="3" rowspan="" headers="">
                                        <div class="control is-pulled-right">
                                            <input class="input large-checkbox" type="checkbox"
                                                ng-model="search_spec.args.subset" ng-init="search_spec.args.subset = false">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody ng-if="search_spec.type == 'molecule'">
                                <tr>
                                    <td colspan="1" rowspan="" headers="" style="vertical-align: middle;">
                                        Molecular formula
                                    </td>
                                    <td colspan="3" rowspan="" headers="">
                                        <div class="control">
                                            <input class="input" type="text" placeholder="Molecular formula"
                                                ng-model="search_spec.args.formula"
                                                ng-init="search_spec.args.formula = null">                                  
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody ng-if="search_spec.type == 'mdbref'">
                                <tr>
                                    <td colspan="1" rowspan="" headers="" style="vertical-align: middle;">
                                        MRD Reference
                                    </td>
                                    <td colspan="3" rowspan="" headers="">
                                        <div class="control">
                                            <input class="input" type="text" placeholder="7-digit Magres record ref. number (example: 0005210)"
                                                ng-model="search_spec.args.mdbref"
                                                ng-init="search_spec.args.mdbref = null">                                  
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody ng-if="search_spec.type == 'extref'">
                                <tr>
                                    <td colspan="1" rowspan="" headers="" style="vertical-align: middle;">
                                        External reference
                                    </td>
                                    <!-- Database name can be chosen from dropdown list or 'Other' option chosen to enter name manually -->
                                    <td colspan="1" rowspan="" headers="">
                                        <!-- <div class="control">
                                            <input class="input" type="text" size="15" placeholder="Database name"
                                                ng-model="search_spec.args.reftype"
                                                ng-init="search_spec.args.reftype = null">                                            
                                        </div> -->
                                        <div class="select" style="width: 100%;">
                                            <select name="extref_type"
                                                    ng-model="search_spec.args.reftype"
                                                    ng-init="search_spec.args.reftype = null"
                                                    ng-init="search_spec.args.other_reftype = null"
                                                    style="width: 100%;">
                                                <option value="" disabled selected hidden>Database name</option>
                                                <option value="csd">CSD</option>
                                                <option value="icsd">ICSD</option>
                                                <option value="cod">COD</option>
                                                <option value="other">Other</option>
                                            </select>                
                                        </div>
                                    </td>
                                    <!-- Database name to be entered manually. Textbox appears if Other option chosen from database name dropdown list -->
                                    <td colspan="1" rowspan="" headers="">
                                        <div class="control">
                                            <input class="input" type="text" size="15" placeholder="Database name"
                                                ng-model="search_spec.args.other_reftype"
                                                ng-init="search_spec.args.other_reftype = null"
                                                ng-show="search_spec.args.reftype == 'other'">                
                                        </div>
                                    </td>
                                    <!-- Database reference code to be entrered in textbox -->
                                    <td colspan="1" rowspan="" headers="">
                                        <div class="control" style="width: 100%;">
                                            <input class="input" type="text" size="15" placeholder="Database code"
                                                ng-model="search_spec.args.refcode"
                                                ng-init="search_spec.args.refcode = null"
                                                style="width: 100%;">                                            
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody ng-if="search_spec.type == 'license'">
                                <tr>
                                    <td colspan="1" rowspan="" headers="" style="vertical-align: middle;">
                                        License
                                    </td>
                                    <td colspan="3" rowspan="" headers="">
                                        <div class="control is-pulled-right">
                                            <div class="select">
                                                <select
                                                    ng-model="search_spec.args.license"
                                                    ng-init="search_spec.args.license = 'pddl'">
                                                    <option value="pddl">PDDL v1.0</option>
                                                    <option value="odc-by">ODC-By v1.0</option>
                                                    <option value="cc-by">CC-By v4.0</option>
                                                </select>                                                
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <!-- Add a new row at the end of the table for the toggle switch -->
                            <tr>
                                <td colspan="4">
                                    <!--Add a toggle switch to allow the user to switch between AND and NOT search-->
                                    <!-- Default search is AND with toggle switch 'off', NOT corresponds to toggle 'on' -->
                                    <div class="control is-pulled-right">
                                        <label class="switch">
                                            <input type="checkbox" ng-model="search_spec.negate_query">
                                            <span class="slider round">
                                                <span class="on">NOT</span>
                                                <span class="off">AND</span>
                                            </span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <!-- + button to add search criteria -->
                        <div class="plus-button" ng-show="$index == search_specs.length-1">
                            <button class="button is-primary is-medium" ng-click="add_spec()">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>

                    <div class="notification is-warning" ng-show="message != ''">
                        {{message}}
                    </div>

                    <a class="button is-primary is-medium" ng-click="search()">
                        Search Records
                    </a>


                </div>

                <span class="separator-2"></span>

                <div search-results="search_results"></div>

            </div>

            <div id="div-upload" class="section" ng-switch-when="upload" ng-controller="UploadController" ng-cloak>

                <div class="container has-text-centered">

                    <div class="tabs">
                        <ul>
                            <li ng-class="upload_multi? '' : 'is-active'"><a class="tab-link"
                                    ng-click="upload_multi=false">Single file</a></li>
                            <li ng-class="upload_multi? 'is-active' : ''"><a class="tab-link"
                                    ng-click="upload_multi=true">Archive</a></li>
                        </ul>
                    </div>

                    <div ng-show="upload_multi" ng-cloak>
                        <p>
                            You can use this form to upload a <tt>.zip</tt>, <tt>.tar</tt> or <tt>.tar.gz</tt> archive
                            containing multiple <tt>.magres</tt> files in one go. The files will be added as separate
                            entries to the database and is intended for use when adding a group of multiple different 
                            structures in a single upload. This feature is not for adding multiple versions of the same 
                            structure. The files need to be either at the top level of the archive or inside a single folder.
                        </p>
                        <p>
                            The data in the form below will be used as the default for all the given structures. However, if
                            you want to have custom values for some or all files in your archive, you should download <a
                                href="csvtemplate" download="info.csv">this CSV file</a> and fill in its various fields for
                            the structures you care about, then put it in the archive at the same level as the
                            <tt>.magres</tt> files. For more details about how to use the CSV file, refer to <a href="faqs.html" target="_blank">the FAQ page</a>.
                        </p>
                        <span class="separator-1"></span>
                    </div>

                <form id="upload-form" enctype="multipart/form-data" action="upload" method="post">
                    <div class="table-container" >
                            <table class="table is-fullwidth is-narrow">
                                <thead record-table="{}">
                                </thead>
                                <tbody version-table="{license: 'pddl', extref_type: 'csd'}"> <!-- The license thing here helps initialise the values -->
                                </tbody>
                            </table>
                        </div>
                        Fields marked with <sup class="has-text-danger">*</sup> are obligatory.
                        <span class="separator-2"></span>

                        <div class="file has-name is-boxed is-primary is-medium is-centered">
                            <label class="file-label">
                                <input class="file-input" type="file" id="magres-file" name="magres-file"
                                    ngf-select="load_files($files)" required>
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <span ng-show="!uploading_now">
                                            <i class="fa fa-upload"></i>
                                        </span>
                                        <span ng-show="uploading_now">
                                            <div class="loader">Loading...</div>
                                        </span>
                                    </span>
                                    <span class="file-label">
                                        <span ng-show="!uploading_now">
                                            Choose a file...
                                        </span>
                                        <span ng-show="uploading_now">
                                            Uploading...
                                        </span>
                                    </span>
                                </span>
                                <span class="file-name" ng-show="magres_file_name">
                                    {{magres_file_name}}
                                </span>
                            </label>
                        </div>
                        <span class="separator-1"></span>
                        <span class="box" ng-show="status !== ''" ng-class="{
                        'has-text-danger': status_err,
                        'has-text-success': !status_err,
                    }">
                            {{ status }}                            
                            <span ng-show="faillist !== ''"><br>
                                <a href="{{faillist}}" download="failed.txt" class="has-text-danger">Download list of failed uploads</a>
                            </span>
                        </span>
                        <span class="separator-1"></span>
                        <a class="button is-primary is-large" ng-click="upload()">Confirm & Upload</a>
                        <span class="separator-1"></span>
                        <div class="box">
                            By uploading your files you consent to them being released under your chosen license. 
                            The available options are:
                            <ul>
                                <li><span class="has-text-weight-bold">PDDL:</span> <a
                                href="http://www.opendatacommons.org/licenses/pddl/1.0/" target="_blank">Public Domain Dedication and License v1.0</a>.</li>
                                <li><span class="has-text-weight-bold">ODC-By:</span> <a href="https://opendatacommons.org/licenses/by/1-0/index.html" target="_blank">
                                    Open Data Commons Attribution License v1.0</a>.</li>
                                <li><span class="has-text-weight-bold">CC-By:</span> <a href="https://creativecommons.org/licenses/by/4.0" target="_blank">
                                    Creative Commons Attribution v4.0</a>.</li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>

            <div id="div-yourfiles" class="section is-relative" ng-switch-when="yourfiles"
                ng-controller="FileListerController" ng-cloak>
                <div class="container">
                    <div class="notification is-danger" ng-show="message != ''">
                        {{ message }}
                    </div>
                </div>

                <div search-results="search_results" ng-init="refresh()">                    
                {{search_results}}
                </div>

                <!-- Use for edits -->
                <div class="modal">
                    <div class="modal-background"></div>
                    <div class="modal-content">
                        <!-- Any other Bulma elements you want -->
                    </div>
                    <button class="modal-close is-large" aria-label="close"></button>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="recordref" ng-controller="RecordController" ng-cloak>
        <nav class="navbar">
            <div class="navbar-brand">
                <a class="nabvar-item has-text-centered has-text-info" href="https://www.ccpnc.ac.uk">
                    <span id="ccpnc-logo" class="is-size-1">CCP-NC</span>
                </a>
            </div>

            <div class="navbar-menu is-size-5">
                <div class="navbar-start">
                    <a class="navbar-item" href="./">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        &nbsp;
                        Back
                    </a>
                </div>
            </div>

        </nav>
        <div class="section">
            <div class="container">
                <div ng-if="found">
                    <h1 class="title">{{record.chemname}}</h1>
                    <h2 class="subtitle">
                        <span class="has-text-weight-bold">MRD number</span>: {{record.immutable_id}} &nbsp;
                        <span class="has-text-weight-bold">Uploader:</span> {{record.user_name? record.user_name : "N/A"}} &nbsp;
                        <span class="has-text-weight-bold">ORCID:</span> <a href="{{record.orcid.uri}}" target="blank">{{record.orcid.path}}</a>
                    </h2>
                    <databaseRecord database-record="record" make-page></databaseRecord>
                </div>
                <div class="card has-background-warning" ng-if="!found">
                    <div class="card-header">
                        <span class="card-header-title">
                            Record not found
                        </span>
                    </div>
                    <div class="card-content">
                        No record with <span class="has-text-weight-bold">MRD number</span>{{recordref}} was found.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    The <strong>CCP-NC database</strong> is funded by EPSRC and supported by STFC.
                </p>
                <p>
                    Code written by
                    Simone Sturniolo and Albert Bartok-Partay.
                    <br>
                    The source code is licensed
                    <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                    is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
                    <br>
                    Uses the <a href="https://orcid.org" target="_blank">
                        <i class="ai ai-orcid orcid-green is-size-4" aria-hidden="true"></i> ORCID
                    </a>
                    Public API v2.0 for authentication.
                    <br>
                    For more information about cookies and data retention, see our <a href="cookies">Privacy
                        Policy</a>.
                    <br>
                    For any feedback or questions, <a href="https://www.ccpnc.ac.uk/contact-us">contact us.</a>
                </p>
            </div>
        </div>
    </footer>
</body>

</html>
