<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CCPNC database</title>

    <link rel="stylesheet" href="/css/bulma.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/academicons/css/academicons.min.css"/>
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link rel="stylesheet" href="/css/loader.css">
    <link rel="stylesheet" href="/css/capsule.min.css">

    <script src="/vendor/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/vendor/angular.min.js"></script>
    <script src="/vendor/capsule.min.js"></script>
    <script src="/vendor/ng-file-upload-all.min.js"></script>

    <script src="/js/record.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/upload.js"></script>
    <script src="/js/cookielaw.js"></script>
    <script src="/js/yourfiles.js"></script>
    <script src="/js/magres-validate.js"></script>

    <script src="/js/navigate.js" async defer></script>
    <script src="/js/main.js" async defer></script>

</head>
<body ng-controller="NavigateController">

<div ng-controller="CookieLawController">
    <div class="notification is-primary is-borderless" ng-show="!approved" ng-cloak>
        <button class="delete" ng-click="approve()"></button>
            <p>This site uses cookies in order to store and keep track of your login information. If you keep using this site,
            we will assume you accept this as a necessary part of the service.</p>
    </div>
</div>

<nav class="navbar">
    <div class="navbar-brand">
        <a class="nabvar-item has-text-centered">
            <span id="ccpnc-logo" class="is-size-1">CCP-NC</span>
        </a>
        <div class="navbar-burger burger is-size-2" data-target="navBarCCPNC">
          <span></span>
          <span></span>
          <span></span>
        </div>
    </div>

    <div id="navBarCCPNC" class="navbar-menu is-size-5">
        <div class="navbar-start">
            <a class="navbar-item" ng-click="open_tab='home';">
                Home
                &nbsp;
                <i class="fa fa-home" aria-hidden="true"></i>
            </a>
            <a class="navbar-item" ng-click="open_tab='search';">
                Search
                &nbsp;
                <i class="fa fa-search" aria-hidden="true"></i>
            </a>
            <a class="navbar-item" ng-click="open_tab='upload';" ng-show="loginStatus.get_login_status()" ng-cloak>
                Upload
                &nbsp;
                <i class="fa fa-upload" aria-hidden="true"></i>
            </a>
            <a class="navbar-item" ng-click="open_tab='yourfiles';" ng-show="loginStatus.get_login_status()" ng-cloak>
                Your files
                &nbsp;
                <i class="fa fa-file-text" aria-hidden="true"></i>
            </a>
        </div>

        <!-- Here the important Login logic happens! A dedicated Angular controller -->        
        <div class="navbar-end" ng-controller="LoginController" ng-cloak>
            <div class="navbar-item is-size-6" ng-if="logged_in">
                Logged in as&nbsp;
                <i class="ai ai-orcid orcid-green is-size-4" aria-hidden="true"></i>&nbsp;
                <a href="https://orcid.org/{{orcid}}" class="has-text-primary" target="_blank"
                   title="User: {{username}}">
                    orcid.org/{{orcid}}
                </a>
            </div>
            <a class="navbar-item" ng-if="!logged_in" ng-click="login()">
                Login
                &nbsp;
                <i class="ai ai-orcid orcid-green is-size-4" aria-hidden="true"></i>
            </a>
            <a class="navbar-item" ng-if="logged_in" ng-click="logout()">
                Logout
                &nbsp;
                <i class="fa fa-sign-out" aria-hidden="true"></i>
            </a>

            <!-- Welcome message (as required by ORCID standards) -->
            <div class="modal {{just_logged_in? 'is-active' : ''}}">
              <div class="modal-background"></div>
              <div class="modal-content">
                <div class="box has-text-centered">
                    <p>
                        Success! You are now logged in with ORCID
                        <span class="orcid-green">{{orcid}}</span>
                        and name {{username}}.
                    </p>
                    <br>
                    <a class="button is-primary" ng-click="confirm()">Ok</a>
                </div>
              </div>
            </div>  

        </div>
    </div>

</nav>

<div class="main-section" ng-switch="open_tab">
    <div id="div-home" class="section" ng-switch-default  ng-cloak>
        <div class="container">
            This is a database. It datas the bases. Sometimes, it's based on data.
            <br><br>
            Usually it just sort of exists.
        </div>
    </div>

    <div id="div-search" class="section" ng-switch-when="search" ng-controller="SearchController" ng-cloak>

        <div class="container has-text-centered">

            <div class="notification" ng-repeat="search_spec in search_specs">

                <button class="delete" ng-click="remove_spec($index)"></button>

                <table class="table is-fullwidth is-bordered is-striped is-fixed search-form">
                    <tr>
                        <td class="width-1 is-size-7" colspan="1" rowspan="" headers="">
                            Search type
                        </td>
                        <td class="width-3" colspan="3" rowspan="" headers="">
                            <select class="cc-ctrl cc-bulma" ng-model="search_spec.type" ng-change="reset_search_args(search_spec.type)">
                                <option value="doi">doi</option>
                                <option value="msRange">Shielding</option>
                            </select>
                        </td>
                    </tr>
                    <tbody ng-if="search_spec.type == 'doi'">
                        <tr>
                            <td colspan="1" rowspan="" headers="">
                                doi
                            </td>
                            <td colspan="3" rowspan="" headers="">
                                <input class="cc-ctrl cc-bulma" type="text" placeholder="doi" ng-model="search_spec.args.doi">
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-if="search_spec.type == 'msRange'">
                        <tr>
                            <td colspan="1" rowspan="" headers="">
                                Species
                            </td>
                            <td colspan="3" rowspan="" headers="">
                                <input class="cc-ctrl cc-bulma" type="text" placeholder="Element symbol" ng-model="search_spec.args.sp">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" rowspan="" headers="">
                                Min. MS value
                            </td>
                            <td colspan="1" rowspan="" headers="">
                                <input class="cc-ctrl cc-bulma" type="text" placeholder="Minimum shielding (ppm)" ng-model="search_spec.args.minms">
                            </td>
                            <td colspan="1" rowspan="" headers="">
                                Max. MS value
                            </td>
                            <td colspan="1" rowspan="" headers="">
                                <input class="cc-ctrl cc-bulma" type="text" placeholder="Maximum shielding (ppm)" ng-model="search_spec.args.maxms">
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="plus-button" ng-show="$index == search_specs.length-1">
                    <button class="button is-primary is-small" ng-click="add_spec()">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </div>

            </div>

            <div class="notification is-warning" ng-show="message != ''">
                {{message}}
            </div>

            <a class="button is-primary is-medium" ng-click="search()">
                Search
            </a>


        </div>


        <span class="separator-2"></span>

        <div class="container">
            <div database-record="result" ng-repeat="result in search_results">
            </div>
        </div>
    </div>

    <div id="div-upload" class="section" ng-switch-when="upload" ng-controller="UploadController" ng-cloak>
            
        <div class="container has-text-centered">
            <table id="upload-form" class="table is-fullwidth">
                <tr>
                    <td colspan="" rowspan="" headers="">
                        Chemical name<sup class="has-text-danger">*</sup>
                    </td>
                    <td colspan="" rowspan="" headers="">
                        <input id="chemname" class="cc-ctrl cc-bulma width-3" type="text" placeholder="Name identifying the compound (e.g.: alanine, sodium chloride, FCC iron)">
                    </td>
                </tr>
                <tr>
                    <td colspan="" rowspan="" headers="">
                        doi
                    </td>
                    <td colspan="" rowspan="" headers="">
                        <input id="doi" class="cc-ctrl cc-bulma width-3" type="text" placeholder="doi pointing to the paper for which this calculation has been used">
                    </td>
                </tr>
                <tr>
                    <td colspan="" rowspan="" headers="">
                        Notes
                    </td>
                    <td colspan="" rowspan="" headers="">
                        <textarea id="notes" class="cc-ctrl cc-bulma textarea" placeholder="Useful details about calculation type, suggestion for reproducibility etc." 
                        rows="10"></textarea>
                    </td>
                </tr>
            </table>
            <p>
                Fields marked with <sup class="has-text-danger">*</sup> are obligatory.
            </p>
            <span class="separator-2"></span>
            <div class="drag-drop-file" ngf-drop="load_files($files)" ngf-multiple="true">
                <span id="noloaded" ng-show="magres_file_name == '' && !uploading_now">
                    <i class="fa fa-upload" aria-hidden="true"></i>
                    &nbsp;
                    Drop .magres file here 
                </span>
                <span ng-show="uploading_now">
                    <div class="loader">Loading...</div>
                </span>
                <span id="loaded" ng-show="magres_file_name !== '' && !uploading_now">
                    {{magres_file_name}}
                </span><br>
            </div>        
            <span class="separator-1"></span>
            <span class="box" ng-show="status !== ''" ng-class="{
            'has-text-danger': status_err,
            'has-text-success': !status_err,
        }">
                {{ status }}
            </span>
            <span class="separator-1"></span>
            <a class="button is-primary is-large" ng-click="upload()">Upload</a>
        </div>
    </div>

    <div id="div-yourfiles" class="section" ng-switch-when="yourfiles" ng-controller="FileListerController" ng-cloak>
        <div class="container">
            <div database-record="result" ng-repeat="result in search_results">
            </div>
        </div>
    </div>
</div>

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        The <strong>CCP-NC database</strong> is funded by EPSRC and supported by STFC.
      </p>
       <p>
        Code written by
        <a href="simone.sturniolo@stfc.ac.uk">Simone Sturniolo</a> and <a href="albert.bartok-partay@stfc.ac.uk">Albert Bartok-Partay</a>.
        <br>
        The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
        <br>
        Uses the <a href="https://orcid.org" target="_blank">
            <i class="ai ai-orcid orcid-green is-size-4" aria-hidden="true"></i> ORCID
        </a>
        Public API v2.0 for authentication.

      </p>
    </div>
  </div>  
</footer>
</body>
</html>