<div class="database-record">
    <table class="table is-fullwidth is-bordered is-striped is-fixed">
        <tr>
            <td class="width-1">Name:</td>
            <td class="width-3 has-text-primary">{{databaseRecord.chemname}}</td>
        </tr>
        <tr>
            <td class="width-1">ORCID:</td>
            <td class="width-3"><a href="{{databaseRecord.orcid_uri}}" target="blank">{{databaseRecord.orcid}}</a></td>
        </tr>
        <tr>
            <td class="width-1">Formula:</td>
            <td class="width-3">{{databaseRecord.formula}}</td>
        </tr>
        <tr ng-if="databaseRecord.doi != ''">
            <td class="width-1">DOI:</td>
            <td class="width-3">{{databaseRecord.doi}}</td>
        </tr>
    </table>
    <a class="button is-primary" href="/test" download>
        Download
    </a>
</div>