<div class="database-record">
    <table class="table is-fullwidth is-bordered is-striped is-fixed">
        <tbody>
            <tr>
                <th class="width-1">Name:</th>
                <td class="width-3 has-text-primary">{{databaseRecord.chemname}}</td>
            </tr>
            <tr>
                <th class="width-1">ORCID:</th>
                <td class="width-3"><a href="{{databaseRecord.orcid_uri}}" target="blank">{{databaseRecord.orcid}}</a></td>
            </tr>
            <tr>
                <th class="width-1">Formula:</th>
                <td class="width-3">{{databaseRecord.formula}}</td>
            </tr>
            <tr>
                <th colspan="2">
                    Version specific information
                </th>
            </tr>
            <tr>
                <th class="width-1">Version:</th>
                <td class="width-3">
                    <!-- Note that the ng-init value is cast to a string in order to be detected immediately and avoid an ugly 'blank' option -->
                    <select class="cc-ctrl cc-bulma" ng-model="_selected_index" ng-init="_selected_index=(databaseRecord.version_history.length-1)+''">
                        <option ng-repeat="v in databaseRecord.version_history" value="{{$index}}"
                        ng-selected="$last">Version {{$index+1}} [{{v.date}}]</option>
                    </select>
                </td>
            </tr>
            <tr ng-if="databaseRecord.version_history[_selected_index].doi != ''">
                <th class="width-1">DOI:</th>
                <td class="width-3">{{databaseRecord.version_history[_selected_index].doi}}</td>
            </tr>
        </tbody>
    </table>
    <a class="button is-primary" href="doc?id={{databaseRecord.version_history[_selected_index].magresFilesID}}" download>
        Download&nbsp;<i class="fa fa-download"></i>
    </a>
    <div class="button is-primary is-pulled-right" ng-click="edit()" ng-show="isown()" download>
        Edit&nbsp;<i class="fa fa-edit"></i>
    </div>

    <div edit-popup="_edit_popup">
    </div>
</div>