<div class="edit-form modal" ng-class="editForm.is_open? 'is-active' : ''">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete" aria-label="close" ng-click="cancel()"></button>
    </header>
    <section class="modal-card-body">
        {{editForm}}
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" ng-click="submit()">Save changes</button>
      <button class="button">Cancel</button>
    </footer>
  </div>
</div>