<tr ng-repeat="p in editTable._props">
    <!-- Here we list all possible value types, and how they're presented -->
    <th class="width-1">
        <span>{{ p.name }}:</span>
    </th>
    <td class="width-3" ng-switch='p.type'>
        <input id="edit-{{p.short_name}}" class="cc-ctrl cc-bulma" type="text"
        placeholder="{{p.name}}" size="{{p.size}}" 
        ng-model="editTable._props[$index].value" ng-switch-when="text">
        <textarea id="edit-{{p.short_name}}" class="cc-ctrl cc-bulma width-2"
        placeholder="{{p.name}}" ng-switch-when="textarea"></textarea>
    </td>
</tr>
