<div class="edit-popup modal" ng-class="editPopup.is_open? 'is-active' : ''">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title" ng-if="editPopup.name">
        Editable data for {{editPopup.name}}
      </p>
      <button class="delete" aria-label="close" ng-click="cancel()"></button>
    </header>
    <section class="modal-card-body">
        <table class="table is-bordered is-striped is-fixed">
          <tbody edit-table="editPopup._table">
          </tbody>
        </table>

    <div class="drag-drop-file ddrop-small" ngf-drop="load_files($files)" ngf-multiple="true">
        <span id="noloaded" ng-show="editPopup.magres_file_name == '' && !editPopup.uploading_now">
            <i class="fa fa-upload" aria-hidden="true"></i>
            &nbsp;
            Drop .magres file here 
        </span>
        <span ng-show="editPopup.uploading_now">
            <div class="loader">Loading...</div>
        </span>
        <span id="loaded" ng-show="editPopup.magres_file_name !== '' && !editPopup.uploading_now">
            {{editPopup.magres_file_name}}
        </span><br>
    </div>

    <span class="box" ng-show="editPopup.status !== ''" ng-class="{
            'has-text-danger': editPopup.status_err,
            'has-text-success': !editPopup.status_err,
        }">
            {{ editPopup.status }}
    </span>

    </section>
    <footer class="modal-card-foot">
      <button class="button is-primary" ng-click="submit()">Submit</button>
      <button class="button" ng-click="cancel()">Cancel</button>
    </footer>
  </div>
</div>