<div class="edit-popup modal" ng-class="editPopup.is_open? 'is-active' : ''">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title" ng-if="editPopup.name">
        Editable data for {{editPopup.name}}
      </p>
      <button class="delete" aria-label="close" ng-click="cancel()"></button>
    </header>
    <section class="modal-card-body">
        <form id="edit-popup-form" enctype="multipart/form-data" action="/edit" method="post">
          <table class="table is-bordered is-striped is-fixed">
            <tbody edit-table="editPopup._table">
            </tbody>
          </table>

          <div class="file has-name is-boxed is-primary is-small is-centered">
              <label class="file-label">
                  <input class="file-input" type="file" id="magres-file" name="magres-file" ngf-select="load_files($files)" required>
                  <span class="file-cta">
                      <span class="file-icon">
                          <span ng-show="!uploading_now">
                              <i class="fa fa-upload"></i>
                          </span>
                          <span ng-show="uploading_now">
                              <div class="loader">Loading...</div>
                          </span>
                      </span>
                      <span class="file-label">
                          <span ng-show="!uploading_now">
                              Choose a file...
                          </span>
                          <span ng-show="uploading_now">
                              Uploading...
                          </span>
                      </span>
                  </span>
                  <span class="file-name" ng-show="magres_file_name">
                      {{magres_file_name}}
                  </span>
              </label>
          </div>

        </form>

    <span class="box" ng-show="editPopup.status !== ''" ng-class="{
            'has-text-danger': editPopup.status_err,
            'has-text-success': !editPopup.status_err,
        }">
            {{ editPopup.status }}
    </span>

    </section>
    <footer class="modal-card-foot">
      <button class="button is-primary" ng-click="submit()">Submit</button>
      <button class="button" ng-click="cancel()">Cancel</button>
    </footer>
  </div>
</div>