<tr>
    <th colspan="" rowspan="" headers="">
        License<sup class="has-text-danger">*</sup>
    </th>
    <td colspan="" rowspan="" headers="">
        <select id="license" 
                class="cc-ctrl cc-bulma" 
                name="license" 
                ng-model="versionTable.license"
                help="License to apply to the data (see bottom of the page for details)" >
            <option value="pddl">PDDL v1.0</option>
            <option value="odc-by">ODC-By v1.0</option>
            <option value="cc-by">CC-By v4.0</option>        
        </select>
    </td>
</tr>

<tr>
    <th colspan="" rowspan="" headers="">
        DOI
    </th>
    <td colspan="" rowspan="" headers="">
        <input id="doi" class="cc-ctrl cc-bulma" type="text" size="80"
            name="doi"
            ng-model="versionTable.doi"
            placeholder="A valid DOI code for published work referencing this data">
    </td>
</tr>

<tr>
    <th colspan="" rowspan="" headers="">
        External reference code (e.g. CSD refcode/number)
    </th>
    <td colspan="" rowspan="" headers="">
        <input id="extref" class="cc-ctrl cc-bulma" type="text" size="80"
            name="extref" ng-model="versionTable.extref"
            placeholder="A code or number referencing an external database">
    </td>    
</tr>


<tr>
    <th colspan="" rowspan="" headers="">
        Additional structural descriptors
    </th>
    <td colspan="" rowspan="" headers="">
        <input id="chemform" class="cc-ctrl cc-bulma" type="text" size="80"
            name="chemform"
            ng-model="versionTable.chemform"
            placeholder="Additional relevant descriptors (e.g.: phase, conformer, etc.)">
    </td>    
</tr>

<tr>
    <th colspan="" rowspan="" headers="">
        Notes
    </th>
    <td colspan="" rowspan="" headers="">
        <input id="notes" class="cc-ctrl cc-bulma" type="text" size="80"
            name="notes"
            ng-model="versionTable.notes"
            placeholder="Any other useful notes">
    </td>    
</tr>

