<tr>
    <th colspan="" rowspan="" headers="">
        License<sup class="has-text-danger">*</sup>
    </th>
    <td colspan="" rowspan="" headers="">
        <div class="control is-pulled-right">
            <div class="select">
                <select name="license"
                        ng-model="versionTable.license"
                        help="License to apply to the data (see bottom of the page for details)" >
                    <option value="pddl">PDDL v1.0</option>
                    <option value="odc-by">ODC-By v1.0</option>
                    <option value="cc-by">CC-By v4.0</option>        
                </select>                            
            </div>            
        </div>
    </td>
</tr>

<tr>
    <th colspan="" rowspan="" headers="">
        DOI
    </th>
    <td colspan="" rowspan="" headers="">
        <div class="control">
            <input class="input" type="text" size="80"
                name="doi"
                ng-model="versionTable.doi"
                placeholder="A valid DOI code for published work referencing this data">            
        </div>
    </td>
</tr>

<tr>
    <th colspan="" rowspan="" headers="">
        External reference code (e.g. CSD refcode/number)
    </th>
    <td colspan="" rowspan="" headers="">
        <div class="field is-grouped">
            <div class="control">
                <input class="input" type="text" size="20"
                    name="extref_code" ng-model="versionTable.extref_code"
                    placeholder="Code for external database">            
            </div>
            <div class="control">
                <input class="input" type="text" size="20"
                    ng-if="versionTable.extref_type == 'other'"
                    name="extref_other" ng-model="versionTable.extref_other"
                    placeholder="Name of external database">            
            </div>
            <div class="control is-pulled-right">
                <div class="select">
                    <select name="extref_type"
                            ng-model="versionTable.extref_type"
                            help="External database for the inserted code"
                            >
                        <option value="">N/A</option>
                        <option value="csd">CSD</option>
                        <option value="icsd">ICSD</option>
                        <option value="cod">COD</option>
                        <option value="other">Other</option>
                    </select>                
                </div>
            </div>

            
        </div>

    </td>    
</tr>


<tr>
    <th colspan="" rowspan="" headers="">
        Additional structural descriptors
    </th>
    <td colspan="" rowspan="" headers="">
        <div class="control">
            <input class="input" type="text" size="80"
                name="chemform"
                ng-model="versionTable.chemform"
                placeholder="Additional relevant descriptors (e.g.: phase, conformer, etc.)">            
        </div>
    </td>    
</tr>

<tr>
    <th colspan="" rowspan="" headers="">
        Notes
    </th>
    <td colspan="" rowspan="" headers="">
        <div class="control">
            <input class="input" type="text" size="80"
                name="notes"
                ng-model="versionTable.notes"
                placeholder="Any other useful notes">            
        </div>
    </td>    
</tr>

